@using X.PagedList;
@using X.PagedList.Mvc;
@model IPagedList<ERP.Models.ProductMaster>

<div class="container">
    <div class="col-md-12 col-lg-12 commonPadding">
        <table class="table ProductMasterAll">
            <thead>
                <tr class="gridheader">
                    <th>ProductMaster Name</th>
                    @*<th>View</th>*@
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ProductMaster in Model)
                {
                    <tr class="gridrow">
                        <td class="gridrow">@ProductMaster.ProductName</td>
                        @*<td class="gridrow "> <img src="~/Content/view.gif" alt="View" class="ProductMasterView pointer" data-url="@Url.Action("_ProductMasterView", "ProductMaster")" data-identity="@(ProductMaster.Identity)" /> </td>*@
                        <td class="gridrow "><img src="~/Content/edit.png" alt="Edit" class="ProductMasterEdit pointer" data-url="@Url.Action("_ProductMasterEdit", "ProductMaster")" data-identity="@(ProductMaster.Identity)" /></td>
                        <td class="gridrow "><img src="~/Content/delete.png" alt="Delete" class="ProductMasterDelete pointer" data-url="@Url.Action("Delete", "ProductMaster")" data-identity="@(ProductMaster.Identity)" /></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-lg-12 nopadding textright">
        <div class="col-md-6 col-lg-6">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


        </div>
        <div class="col-md-6 col-lg-6">
            @Html.PagedListPager(Model, page => Url.Action("Sorting", new { page, sortOrder = ViewBag.CurrentSort, createdDate = ViewBag.CreatedDate, searchString = ViewBag.SearchString }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "resultView" }))

        </div>
    </div>
</div>

