@model List<ERP.Models.Region>

<div class="container">
    <table class="table RegionAll">
        <thead>
            <tr class="gridheader">
                <th>Region Name</th>                
                @*<th>View</th>*@
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var region in Model)
            {
                <tr class="gridrow">
                    <td class="gridrow">@region.RegionName</td>                    
                    @*<td class="gridrow "> <img src="~/Content/view.gif" alt="View" class="RegionView pointer" data-url="@Url.Action("_RegionView", "Region")" data-identity="@(region.Identity)" /> </td>*@
                    <td class="gridrow "><img src="~/Content/edit.png" alt="View" class="RegionEdit pointer" data-url="@Url.Action("_RegionEdit", "Region")" data-identity="@(region.Identity)" /></td>
                    <td class="gridrow "><img src="~/Content/delete.png" alt="View" class="RegionDelete pointer" data-url="@Url.Action("Delete", "Region")" data-identity="@(region.Identity)" /></td>
                </tr>

            }
        </tbody>
    </table>
</div>

