@model ERP.Models.State

@using (Html.BeginForm("Update", "State", FormMethod.Post, new { @id = "registerFormId" }))
{

<div class="container StateDetails col-md-12 col-lg-12 commonPadding">
    <div class="row  col-md-12 col-lg-12ccommonPadding">
        @*@{
                var categories = Model.ErrorList; // Cast the list
            }

            @if(Model.ErrorList != null && Model.ErrorList.Count > 0)
            {
            @foreach (var c in @categories) // Print the list
            {
                @Html.Label(categories.ToString());
            }
            }*@

        &nbsp;
    </div>
    <div class="row col-md-12 col-lg-12 ">

        <div class="row col-md-12 col-lg-12">
            <div class="col-md-6 col-lg-6">

                <div class="row col-md-12 col-lg-12">
                    <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div><label>Region Name:</label></div></div>
                    <div class="float-right col-md-8 col-lg-8">
                        @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                        @Html.DropDownList("drpRegion", (IEnumerable<SelectListItem>)Model.RegionList, "Select Region", new { @class = "dropdownstyles", name = "drpRegion" })
                        @*<span class="input-validation-error" data-valmsg-for="StateName" data-valmsg-replace="true"></span>*@

                        <input type="hidden" name="hdnRegion" id="hdnRegion" />

                    </div>

                </div>
                <div class="row col-md-12 col-lg-12" style="height:7px">
                </div>
                <div class="row col-md-12 col-lg-12">
                    <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div><label>Country:</label></div></div>
                    <div class="float-right col-md-8 col-lg-8">
                        @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                        @Html.DropDownList("drpCountry", (IEnumerable<SelectListItem>)Model.CountryList, "Select Country", new { @class = "dropdownstyles", name = "drpCountry" })
                        @*<span class="input-validation-error" data-valmsg-for="StateName" data-valmsg-replace="true"></span>*@

                        <input type="hidden" name="hdnCountry" id="hdnCountry" value="@Model.CountryID" />

                    </div>

                </div>
                <div class="row col-md-12 col-lg-12" style="height:7px">
                </div>

                <div class="row col-md-12 col-lg-12">
                    <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div><label>State Name:</label></div></div>
                    <div class="float-right col-md-8 col-lg-8">
                        <input class="textareastyles" style="width:300px;height:35px;" type="text" name="StateName" value="@(Model.StateName)" placeholder="Enter State Name" />
                        @*<span class="input-validation-error" data-valmsg-for="StateName" data-valmsg-replace="true"></span>*@

                    </div>

                </div>
                <div class="row col-md-12 col-lg-12" style="height:7px">
                </div>

            </div>
        </div>
    </div>
    

    <div class="row col-md-12 col-lg-12 commonPadding">
        <div class="col-md-3 col-lg-3 textright"><input type="button" data-url="@Url.Action("Update", "State")" class="formbutton StateAddEdit" data-identity="@(Model.Identity)" value="Update/Add" /></div>

        <div class="col-md-6 col-lg-6">
            <input type="button" value="Cancel" data-url="@Url.Action("_StateCancel", "State")" data-identity="-1" class="formbutton StateCancel" />
        </div>
        <input type="hidden" name="Identity" value="@(Model.Identity)">
    </div>



</div>
}















