@using X.PagedList;
@using X.PagedList.Mvc;
@model IPagedList<ERP.Models.Tax>

<div class="container">
    <div class="col-md-12 col-lg-12 commonPadding">
        <table class="table TaxAll">
            <thead>
                <tr class="gridheader">
                    <th>Item Name</th>
                    <th>Tax Value</th>
                    
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Tax in Model)
                {
                    <tr class="gridrow">
                        <td class="gridrow">@Tax.ItemName</td>
                        <td class="gridrow">@Tax.TaxValue</td>
                       
                        <td class="gridrow "><img src="~/Content/edit.png" alt="Edit" class="TaxEdit pointer" data-url="@Url.Action("_TaxEdit", "Tax")" data-identity="@(Tax.Identity)" /></td>
                        <td class="gridrow "><img src="~/Content/delete.png" alt="Delete" class="TaxDelete pointer" data-url="@Url.Action("Delete", "Tax")" data-identity="@(Tax.Identity)" /></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-lg-12 nopadding textright">
        <div class="col-md-6 col-lg-6">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


        </div>
        <div class="col-md-6 col-lg-6">
            @Html.PagedListPager(Model, page => Url.Action("Sorting", new { page, sortOrder = ViewBag.CurrentSort, createdDate = ViewBag.CreatedDate, searchString = ViewBag.SearchString }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "resultView" }))

        </div>
    </div>
</div>

