@model ERP.Models.PurchaseRequest

@using (Html.BeginForm("Update", "PurchaseRequest", FormMethod.Post, new { @id = "registerFormId" }))
{

    <div class="container PendingPRVerificationDetails col-md-12 col-lg-12 commonPadding">
        <div class="row  col-md-12 col-lg-12ccommonPadding">
            @*@{
                    var categories = Model.ErrorList; // Cast the list
                }

                @if(Model.ErrorList != null && Model.ErrorList.Count > 0)
                {
                @foreach (var c in @categories) // Print the list
                {
                    @Html.Label(categories.ToString());
                }
                }*@

            &nbsp;
        </div>
        <div class="row col-md-12 col-lg-12 commonPadding">
            <div class="col-md-6 col-lg-6">
                <div class="row col-md-12 col-lg-12">
                    <div class="float-left col-md-4 col-lg-4 lablestyles textright">Product Category :</div>
                    <div class="float-right col-md-5 col-lg-5">
                        @Html.DropDownList("drpPendingPRVerificationDetProductMaster", (IEnumerable<SelectListItem>)Model.ProductMasterList, "Select Category", new { @class = "dropdownstyles", name = "drpPendingPRVerificationDetProductMaster" })
                        @*<span class="input-validation-error" data-valmsg-for="PendingPRVerificationDetName" data-valmsg-replace="true"></span>*@
                        <input type="hidden" name="hdnProductMaster" id="hdnProductMaster" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="row col-md-12 col-lg-12">
                    <div class="float-left col-md-4 col-lg-4 lablestyles textright">Vendor :</div>
                    <div class="float-right col-md-5 col-lg-5">
                        @Html.DropDownList("drpPendingPRVerificationDetVendor", (IEnumerable<SelectListItem>)Model.VendorList, "Select Vendor", new { @class = "dropdownstyles", name = "drpPendingPRVerificationDetVendor" })
                        @*<span class="input-validation-error" data-valmsg-for="PendingPRVerificationDetName" data-valmsg-replace="true"></span>*@
                        <input type="hidden" name="hdnVendor" id="hdnVendor" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12 col-lg-12 commonPadding">
            <div class="col-md-6 col-lg-6">
                <div class="row col-md-12 col-lg-12">
                    <div class="float-left col-md-4 col-lg-4 lablestyles textright">Brand :</div>
                    <div class="float-right col-md-5 col-lg-5">
                        @Html.DropDownList("drpPendingPRVerificationDetBrand", (IEnumerable<SelectListItem>)Model.BrandList, "Select Brand", new { @class = "dropdownstyles", name = "drpPendingPRVerificationDetBrand" })
                        @*<span class="input-validation-error" data-valmsg-for="PendingPRVerificationDetName" data-valmsg-replace="true"></span>*@
                        <input type="hidden" name="hdnBrand" id="hdnBrand" />

                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="row col-md-12 col-lg-12">
                    <div class="float-left col-md-4 col-lg-4 lablestyles textright">Item :</div>
                    <div class="float-right col-md-5 col-lg-5">
                        @Html.DropDownList("drpPendingPRVerificationDetItem", (IEnumerable<SelectListItem>)Model.ItemList, "Select Item", new { @class = "dropdownstyles", name = "drpPendingPRVerificationDetItem" })
                        @*<span class="input-validation-error" data-valmsg-for="PendingPRVerificationDetName" data-valmsg-replace="true"></span>*@
                        <input type="hidden" name="hdnItem" id="hdnItem"  />
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12 col-lg-12 commonPadding">
            <div class="col-md-6 col-lg-6">
                <div class="row col-md-12 col-lg-12">
                    <div class="float-left col-md-4 col-lg-4 lablestyles textright">Size Required :</div>
                    <div class="float-right col-md-5 col-lg-5">
                        <input class="textareastyles" style="width:300px;height:35px;" type="text" id="Size" name="Size" placeholder="Enter size" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="row col-md-12 col-lg-12">
                    <div class="float-left col-md-4 col-lg-4 lablestyles textright">Quantity :</div>
                    <div class="float-right col-md-5 col-lg-5">
                        <input class="textareastyles" style="width:300px;height:35px;" type="text" id="Quantity" name="Quantity" placeholder="Enter Quantity Required" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 col-lg-12 commonPadding">
            <div class="col-md-6 col-lg-6 textright"><input type="button" data-url="@Url.Action("Update", "PendingPRVerification")" class="formbutton PendingPRVerificationAddEdit" data-identity="@(Model.Identity)" value="Update/Add" /></div>

            <div class="col-md-6 col-lg-6 textleft">
                <input type="button" value="Cancel" data-url="@Url.Action("_PendingPRVerificationCancel", "PendingPRVerification")" data-identity="-1" class="formbutton PendingPRVerificationCancel" />
            </div>

            <input type="hidden" name="Identity" value="@(Model.Identity)">
            @*<input type="hidden" name="PurchaseRequestId" value="@(Model.PurchaseRequestID)">*@
        </div>



    </div>
}















