@model ERP.Models.SalesRoleType

@using (Html.BeginForm("Update", "SalesRoleType", FormMethod.Post, new { @id = "registerFormId" }))
{

    <div class="container SalesRoleTypeDetails col-md-12 col-lg-12 commonPadding">
        <div class="row  col-md-12 col-lg-12ccommonPadding">
            @*@{
                    var categories = Model.ErrorList; // Cast the list
                }

                @if(Model.ErrorList != null && Model.ErrorList.Count > 0)
                {
                @foreach (var c in @categories) // Print the list
                {
                    @Html.Label(categories.ToString());
                }
                }*@

            &nbsp;
        </div>
        <div class="row  col-md-12 col-lg-12">
            <div class="col-md-6 col-lg-6">
                <div class="row col-md-12 col-lg-12">
                    <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div style="padding-top:14px;">,<label>Sales Category :</label></div></div>
                    <div class="float-right col-md-8 col-lg-8">
                        <input class="textareastyles" style="width:300px;height:35px;" type="text" name="TypeName" value="@(Model.TypeName)" placeholder="Enter SalesRoleType Name" />
                        @*<span class="input-validation-error" data-valmsg-for="SalesRoleTypeName" data-valmsg-replace="true"></span>*@

                    </div>

                </div>
            </div>

        </div>

        <div class="row col-md-12 col-lg-12 commonPadding">
            <div class="col-md-6 col-lg-6"><input type="button" data-url="@Url.Action("Update", "SalesRoleType")" class="formbutton float-right SalesRoleTypeAddEdit" data-identity="@(Model.Identity)" value="Update/Add" /></div>

            <div class="col-md-6 col-lg-6">
                <input type="button" value="Cancel" data-url="@Url.Action("_SalesRoleTypeCancel", "SalesRoleType")" data-identity="-1" class="formbutton SalesRoleTypeCancel" />
            </div>
            <input type="hidden" name="Identity" value="@(Model.Identity)">
        </div>



    </div>
}
