
@model ERP.Models.Workflow.Step

@if(Model != null){ var test = 1; }
<div class="container col-md-12 col-lg-12 commonPadding stepDetails">
    <input type="hidden" name="Identity" value="@Model.Identity">
    <input type="hidden" name="CreatedDate" value="@Model.CreatedDate">
    <input type="hidden" name="CreatedBy" value="@Model.CreatedBy">
    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Name :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    <input type="text" name="Name" class="textareastyles" style="width:220px;height:27px;" value="@(Model.Name)" placeholder="Name" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 textleft">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Notification Type :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    <input type="text" name="NotificationType" class="textareastyles" style="width:220px;height:27px;" value="@(Model.NotificationType)" placeholder="NotificationType" />
                </div>
            </div>
        </div>

    </div>
    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">

        <div class="col-md-6 col-lg-6 textright">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Description :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    <input type="text" name="Description" class="textareastyles" style="width:220px;height:27px;" value="@(Model.Description)" placeholder="Description" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 textright">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Step Owner :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    <input type="text" name="StepOwner" class="textareastyles" style="width:220px;height:27px;" value="@(Model.StepOwner)" placeholder="StepOwner" />
                </div>
            </div>
        </div>
    </div>

    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">

        <div class="col-md-6 col-lg-6 textright">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Additional Notification User :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    <input type="text" name="AdditionalNotificationUser" class="textareastyles" style="width:220px;height:27px;" value="@(Model.AdditionalNotificationUser)" placeholder="AdditionalNotificationUser" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 textleft">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                </div>
            </div>
        </div>
    </div>

    <div class="row commonPadding">
        <div class="col-md-6 col-lg-5"><input type="button" class="formbutton float-right addeditStep" data-url="@Url.Action("AddEditStep", "WorkflowManager")" data-identity="@(Model.Identity)" value="Add/Edit" /></div>
    </div>
</div>