@using X.PagedList;
@using X.PagedList.Mvc;
@model IPagedList<ERP.Models.Stocks>

<div class="container">
    <div class="col-md-12 col-lg-12 commonPadding">
        <table class="table StocksShortageAll">
            <thead>
                <tr class="gridheader">
                    <th>Product Category</th>
                    <th>Vendor</th>
                    <th>Brand</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Size</th>
                    <th>Create Purchase Request</th>
                    @*<th>Edit</th>*@
                    @*<th>Delete</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var Stocks in Model)
                {
                <tr class="gridrow">
                    <td class="gridrow "> @Stocks.ItemMaster.Brand.Vendor.ProductMaster.ProductName</td>
                    <td class="gridrow "> @Stocks.ItemMaster.Brand.Vendor.VendorName</td>
                    <td class="gridrow "> @Stocks.ItemMaster.Brand.BrandName</td>
                    <td class="gridrow "> @Stocks.ItemMaster.ItemName</td>
                    <td class="gridrow "> @Stocks.Quantity</td>
                    <td class="gridrow">@Stocks.Size</td>
                    <td class="gridrow "><img src="~/Content/process.png" alt="Edit" class="StocksShortageCreateRequest pointer" data-url="@Url.Action("_StocksShortageCreateRequest", "StocksShortage")" data-identity="@(Stocks.Identity)" /></td>
                    @*<td class="gridrow "><img src="~/Content/view.gif" alt="View" class="StocksShortageView pointer" data-url="@Url.Action("_StocksShortageView", "StocksShortage")" data-identity="@(StocksShortage.Identity)" /> </td>*@
                    @*<td class="gridrow "><img src="~/Content/edit.png" alt="Edit" class="StocksShortageAdd pointer" data-url="@Url.Action("_StocksShortageEdit", "StocksShortage")" data-identity="@(Stocks.Identity)" /></td>*@

                </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-lg-12 nopadding textright">
        <div class="col-md-6 col-lg-6">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


        </div>
        <div class="col-md-6 col-lg-6">
            @Html.PagedListPager(Model, page => Url.Action("Sorting", new { page, sortOrder = ViewBag.CurrentSort, createdDate = ViewBag.CreatedDate, searchString = ViewBag.SearchString }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "resultView" }))

        </div>
    </div>
</div>

