@model ERP.Models.Discount

@using (Html.BeginForm("Update", "Discount", FormMethod.Post, new { @id = "registerFormId" }))
{

    <div class="container DiscountDetails col-md-12 col-lg-12 commonPadding">
        <div class="row  col-md-12 col-lg-12ccommonPadding">
            @*@{
                    var categories = Model.ErrorList; // Cast the list
                }

                @if(Model.ErrorList != null && Model.ErrorList.Count > 0)
                {
                @foreach (var c in @categories) // Print the list
                {
                    @Html.Label(categories.ToString());
                }
                }*@

            &nbsp;
        </div>
        <div class="row  col-md-12 col-lg-12">

            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div>Select Item :</div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpitem", (IEnumerable<SelectListItem>)Model.itemList, "Select Item", new { @class = "dropdownstyles" })
                    @*<span class="input-validation-error" data-valmsg-for="DiscountName" data-valmsg-replace="true"></span>*@

                </div>


            </div>
           

            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div style="padding-top:14px;">Discount Value :</div></div>
                <div class="float-right col-md-8 col-lg-8">
                    <input class="textareastyles" style="width:300px;height:35px;" type="text" name="DiscountValue" value="@(Model.DiscountValue)" placeholder="Enter Discount Value" />
                    @*<span class="input-validation-error" data-valmsg-for="DiscountName" data-valmsg-replace="true"></span>*@

                </div>

            </div>


        </div>

        <div class="row col-md-12 col-lg-12 commonPadding">
            <div class="col-md-6 col-lg-6"><input type="button" data-url="@Url.Action("Update", "Discount")" class="formbutton float-right DiscountAddEdit" data-identity="@(Model.Identity)" value="Update/Add" /></div>
            <input type="hidden" name="Identity" value="@(Model.Identity)">
        </div>



    </div>
}















