@using X.PagedList;
@using X.PagedList.Mvc;
@model IPagedList<ERP.Models.FloorMaster>

<div class="container">
    <div class="col-md-12 col-lg-12 commonPadding">
        <table class="table FloorMasterAll">
            <thead>
                <tr class="gridheader">
                    <th>Region</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>District</th>
                    <th>Location</th>
                    <th>Company Name</th>
                    <th>Company Type Name</th>
                    <th>Floor Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var FloorMaster in Model)
                {
                <tr class="gridrow">
                    <td class="gridrow">@FloorMaster.CompanyType.Company.Location.District.State.Country.Region.RegionName</td>
                    <td class="gridrow "> @FloorMaster.CompanyType.Company.Location.District.State.Country.CountryName</td>
                    <td class="gridrow">@FloorMaster.CompanyType.Company.Location.District.State.StateName</td>
                    <td class="gridrow "> @FloorMaster.CompanyType.Company.Location.District.DistrictName</td>
                    <td class="gridrow">@FloorMaster.CompanyType.Company.Location.LocationName</td>
                    <td class="gridrow">@FloorMaster.CompanyType.Company.CompanyName</td>
                    <td class="gridrow">@FloorMaster.CompanyType.TypeName</td>
                    <td class="gridrow">@FloorMaster.FloorName</td>

                    <td class="gridrow "><img src="~/Content/edit.png" alt="Edit" class="FloorMasterEdit pointer" data-url="@Url.Action("_FloorMasterEdit", "FloorMaster")" data-identity="@(FloorMaster.Identity)" /></td>
                    <td class="gridrow "><img src="~/Content/delete.png" alt="Delete" class="FloorMasterDelete pointer" data-url="@Url.Action("Delete", "FloorMaster")" data-identity="@(FloorMaster.Identity)" /></td>
                </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-lg-12 nopadding textright">
        <div class="col-md-6 col-lg-6">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


        </div>
        <div class="col-md-6 col-lg-6">
            @Html.PagedListPager(Model, page => Url.Action("Sorting", new { page, sortOrder = ViewBag.CurrentSort, createdDate = ViewBag.CreatedDate, searchString = ViewBag.SearchString }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "resultView" }))

        </div>
    </div>
</div>

