@model ERP.Models.FloorMaster

@using (Html.BeginForm("Update", "FloorMaster", FormMethod.Post, new { @id = "registerFormId" }))
{

    <div class="container FloorMasterDetails col-md-12 col-lg-12 commonPadding">
        <div class="row  col-md-12 col-lg-12ccommonPadding">
            @*@{
                    var categories = Model.ErrorList; // Cast the list
                }

                @if(Model.ErrorList != null && Model.ErrorList.Count > 0)
                {
                @foreach (var c in @categories) // Print the list
                {
                    @Html.Label(categories.ToString());
                }
                }*@

            &nbsp;
        </div>
        <div class="row  col-md-12 col-lg-12">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>Region :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpFloorRegion", (IEnumerable<SelectListItem>)Model.RegionList, "Select Region", new { @class = "dropdownstyles", name = "drpFloorRegion" })
                    @*<span class="input-validation-error" data-valmsg-for="LocationName" data-valmsg-replace="true"></span>*@


                    <input type="hidden" name="hdnRegion" id="hdnRegion" />

                </div>


            </div>
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>Country :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpFloorCountry", (IEnumerable<SelectListItem>)Model.CountryList, "Select Country", new { @class = "dropdownstyles", name = "drpFloorCountry" })
                    @*<span class="input-validation-error" data-valmsg-for="LocationName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnCountry" id="hdnCountry" />
                </div>


            </div>

            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>State :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpFloorState", (IEnumerable<SelectListItem>)Model.StateList, "Select State", new { @class = "dropdownstyles", name = "drpFloorState" })
                    @*<span class="input-validation-error" data-valmsg-for="LocationName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnState" id="hdnState" />
                </div>


            </div>
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>District :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpFloordistrict", (IEnumerable<SelectListItem>)Model.DistrictList, "Select District", new { @class = "dropdownstyles", name = "drpFloordistrict" })
                    @*<span class="input-validation-error" data-valmsg-for="LocationName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnDistrict" id="hdnDistrict" />
                </div>


            </div>
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>Location :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpfloorlocation", (IEnumerable<SelectListItem>)Model.LocationList, "Select location", new { @class = "dropdownstyles", name = "drpfloorlocation" })
                    @*<span class="input-validation-error" data-valmsg-for="CompanyName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnLocation" id="hdnLocation" />
                </div>

            </div>
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>Company :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpfloorcompany", (IEnumerable<SelectListItem>)Model.CompanyList, "Select Company", new { @class = "dropdownstyles",name= "drpfloorcompany" })
                    @*<span class="input-validation-error" data-valmsg-for="LocationName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnCompany" id="hdnCompany" />
                </div>


            </div>


            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>Company Type :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpfloorMastercompanytype", (IEnumerable<SelectListItem>)Model.CompanyTypeList, "Select Company Type", new { @class = "dropdownstyles" , name= "drpfloorMastercompanytype" })
                    @*<span class="input-validation-error" data-valmsg-for="FloorMasterName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnCompanyType" id="hdnCompanyType" value="@Model.CompanyTypeID" />
                </div>


            </div>



            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div style="padding-top:14px;"><label>Floor  Name :</label></div></div>
                <div class="float-right col-md-8 col-lg-8">
                    <input class="textareastyles" style="width:300px;height:35px;" type="text" name="FloorName" value="@(Model.FloorName)" placeholder="Enter FloorMaster Name" />
                    @*<span class="input-validation-error" data-valmsg-for="FloorMasterName" data-valmsg-replace="true"></span>*@

                </div>

            </div>


        </div>

        <div class="row col-md-12 col-lg-12 commonPadding">
            <div class="col-md-6 col-lg-6"><input type="button" data-url="@Url.Action("Update", "FloorMaster")" class="formbutton float-right FloorMasterAddEdit" data-identity="@(Model.Identity)" value="Update/Add" /></div>
            <div class="col-md-6 col-lg-6">
                <input type="button" value="Cancel" data-url="@Url.Action("_FloorMasterCancel", "FloorMaster")" data-identity="-1" class="formbutton FloorMasterCancel" />
            </div>
            <input type="hidden" name="Identity" value="@(Model.Identity)">
        </div>



    </div>
}















