@model ERP.Models.Customer


<div class="container customerView col-md-12 col-lg-12 commonPadding">
    <input type="hidden" value="@Model.Identity">
   

    <div class="row commonPadding">
        <div class="col-md-6 col-lg-5"><input type="button" class="formbutton float-right customerEdit" data-url="@Url.Action("_CustomerEdit", "Customer")" data-identity="@(Model.Identity)" value="Update" /></div>
        <div class="col-md-6 col-lg-6"><input type="button" class="formbutton float-left customerDelete" data-url="@Url.Action("Delete", "Customer")" data-identity="@(Model.Identity)" value="Delete" /></div>

    </div>
</div>