@model List<ERP.Models.Country>

<div class="container">
    <table class="table CountryAll">
        <thead>
            <tr class="gridheader">
                <th>Country Name</th>
                <th>Region</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Country in Model)
            {

                <tr class="gridrow">
                    <td class="gridrow">@Country.CountryName</td>
                    <td class="gridrow">@Country.RegionID</td>              
                    <td class="gridrow "><img src="~/Content/edit.png" alt="View" class="CountryEdit pointer" data-url="@Url.Action("_CountryEdit", "Country")" data-identity="@(Country.Identity)" /></td>
                    <td class="gridrow "><img src="~/Content/delete.png" alt="View" class="CountryDelete pointer" data-url="@Url.Action("Delete", "Country")" data-identity="@(Country.Identity)" /></td>
                </tr>

            }

        </tbody>
    </table>
</div>

