@model ERP.Models.Customer 


<div class="container customerView col-md-12 col-lg-12 commonPadding">
    <input type="hidden" value="@Model.Identity">
    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Name :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.CustomerName
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 ">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Profession :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.Profession
                </div>
            </div>
        </div>

    </div>
    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">

        <div class="col-md-6 col-lg-6 textright">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Location :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.Location
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 textleft">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Address Line1 :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.Address.Line1
                </div>
            </div>
        </div>
    </div>
    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Email ID :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.EmailID
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Address Line2 :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.Quantity
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12 col-lg-12 commonPadding"  style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Purpose :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.Purpose
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Quantity (sqft) :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.Quantity
                </div>
            </div>
        </div>
    </div>

    <div class="row commonPadding">
        <div class="col-md-6 col-lg-6"><input type="button" class="btn btn-primary float-right customerEdit" data-url="@Url.Action("_CustomerEdit", "Customer")" data-identity="@(Model.Identity)" value="Update"/></div>
        <div class="col-md-6 col-lg-6"><input type="button" class="btn btn-primary float-left customerDelete" data-url="@Url.Action("Delete", "Customer")" data-identity="@(Model.Identity)" value="Delete"/></div>

    </div>
</div>