@model ERP.Models.Customer 


<div class="container customerDetails col-md-12 col-lg-12 commonPadding">

    <div class="row  col-md-12 col-lg-12">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-3 col-lg-3 lablestyles textright">Name :</div>
                <div class="float-right col-md-5 col-lg-5"><input class="textareastyles" style="width:220px;height:27px;" type="text" name="CustomerName" value="@(Model.CustomerName)" placeholder="Enter Name" /></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-3 col-lg-3 lablestyles textright">Profession :</div>
                <div class="float-right col-md-6 col-lg-6"><input type="text" class="textareastyles" style="width:220px;height:27px;" name="Profession" value="@(Model.Profession)" placeholder="Enter Profession" /></div>
            </div>
        </div>
    </div>
    <div class="row  col-md-12 col-lg-12 commonPadding">

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-3 col-lg-3 lablestyles textright">Address Line1 :</div>
                <div class="float-right col-md-5 col-lg-5">
                    <textarea name="Address.Line1" rows="6" cols="30" class="textareastyles" placeholder="Enter Address Line1">@(Model.Address.Line1)</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-3 col-lg-3 lablestyles textright">Address Line2 :</div>
                <div class="float-right col-md-6 col-lg-6">
                    <textarea name="Address.Line2" rows="6" cols="30" class="textareastyles" placeholder="Enter Address Line2">@(Model.Address.Line2)</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12 col-lg-12 commonPadding">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-3 col-lg-3 lablestyles textright">Email ID :</div>
                <div class="float-right col-md-5 col-lg-5"><input class="textareastyles" style="width:220px;height:27px;" type="text" name="EmailID" value="@(Model.EmailID)" placeholder="Enter Email" /></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-3 col-lg-3 lablestyles textright">Quantity (sqft) :</div>
                <div class="float-right col-md-6 col-lg-6">
                    <input type="text" name="Quantity" class="textareastyles" style="width:220px;height:27px;" value="@(Model.Quantity)" placeholder="Enter Quantity" />
                </div>
            </div>
        </div>

    </div>

    <div class="row col-md-12 col-lg-12 commonPadding">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-3 col-lg-3 lablestyles textright">Purpose :</div>
                <div class="float-right col-md-5 col-lg-5">
                    <textarea name="Purpose" rows="6" cols="30" class="textareastyles" placeholder="Enter Visit Purpose">@(Model.Purpose)</textarea>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-3 col-lg-3 lablestyles textright">Comments :</div>
                <div class="float-right col-md-6 col-lg-6">
                    <textarea name="Comments" rows="6" cols="30" class="textareastyles" placeholder="Enter Comments">@(Model.Comments)</textarea>
                </div>
            </div>
        </div>

    </div>
    
    <div class="row col-md-12 col-lg-12 commonPadding">
        <div class="col-md-6 col-lg-6"><input type="button" data-url="@Url.Action("Update", "Customer")" class="formbutton float-right customerAddEdit" data-identity="@(Model.Identity)" value="Update/Add" /></div>
        <input type="hidden" name="Identity" value="@(Model.Identity)">
    </div>



</div>
