@model List<ERP.Models.Customer> 

<div class="container">          
  <table class="table customerAll">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Purpose</th>
        <th>View</th>
        <th>Edit</th> 
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
     @foreach(var customer in Model) {
     <tr>
        <td>@customer.CustomerName</td>
        <td>@customer.EmailID</td>
        <td>@customer.Purpose</td>
        <td><i class="fa fa-eye customerView" aria-hidden="true" data-url="@Url.Action("_CustomerView", "Customer")" data-identity="@(customer.Identity)"></i></td>
        <td><i class="fa fa-pencil customerEdit" aria-hidden="true" data-url="@Url.Action("_CustomerEdit", "Customer")" data-identity="@(customer.Identity)"></i></td>
        <td><i class="fa fa-times customerDelete" aria-hidden="true" data-url="@Url.Action("Delete", "Customer")" data-identity="@(customer.Identity)"></i></td>
      </tr>
    }

    </tbody>
  </table>
</div>

