@model List<BusinessModels.Customer> 

<div class="container">          
  <table class="table customerAll">
    <thead>
      <tr class="gridheader">
        <th>Name</th>
        <th>Email</th>
        <th>Purpose</th>
        <th>View</th>
        <th>Edit</th> 
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
     @foreach(var customer in Model) {
        <tr class="gridrow">
            <td class="gridrow">@customer.CustomerName</td>
            <td class="gridrow">@customer.EmailID</td>
            <td class="gridrow">@customer.Purpose</td>
            @*<td class="gridrow"><i class="fa fa-eye" aria-hidden="true" data-identity="@(customer.Identity)"></i></td>
        <td class="gridrow"><i class="fa fa-pencil" aria-hidden="true" data-identity="@(customer.Identity)"></i></td>
        <td class="gridrow"><i class="fa fa-times" aria-hidden="true" data-identity="@(customer.Identity)"></i></td>*@
            <td class="gridrow"> <img src="~/Content/view.gif" alt="View" /> </td>
            <td class="gridrow"><img src="~/Content/edit.png" alt="View" /></td>
            <td class="gridrow"><img src="~/Content/delete.png" alt="View" /></td>
        </tr>
    }

    </tbody>
  </table>
</div>

