@model ERP.Models.PurchaseOrder

@using (Html.BeginForm("Update", "PurchaseOrder", FormMethod.Post, new { @id = "registerFormId1" }))
{
<div class="container col-md-12 col-lg-12 commonPadding PurchaseOrderDetails">
    <input type="hidden" value="@Model.Identity">
    <div class="tab" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Purchase Quotation Main Details</a></li>

        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabs">
            <div role="tabpanel" class="tab-pane active" id="Section1">

                <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">
                    <div class="col-md-6 col-lg-6">
                        <div class="row col-md-12 col-lg-12">
                            <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                                Unique Code:
                            </div>
                            <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                                @Model.POCode
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 ">
                        <div class="row col-md-12 col-lg-12">
                            <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                                Status :
                            </div>
                            <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                                @Model.Status.StatusName
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">
                    <div class="col-md-6 col-lg-6">
                        <div class="row col-md-12 col-lg-12">
                            <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                                Enquiry Level:
                            </div>
                            <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                                @Model.EnquiryLevel.EnquiryLevelName
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 ">
                        <div class="row col-md-12 col-lg-12">
                            <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                                Created Date :
                            </div>
                            <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                                @Model.CreatedDateString
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="row col-md-12 col-lg-12 commonPadding"></div>
    <div class="tab" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Section2" aria-controls="home" role="tab" data-toggle="tab">Item Details</a></li>

        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabs">
            <div role="tabpanel" class="tab-pane active" id="Section2">

                <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">
                    <div class="col-md-12 col-lg-12 commonPadding" style="height:7px;">

                    </div>
                    @*<div class="col-md-12 col-lg-12 BodyWelcomeText commonPadding" style="height:10px;">
                            Quotation Details
                        </div>
                        <div class="col-md-12 col-lg-12 commonPadding" style="height:7px;border-bottom:1px dashed #8A7B69;">

                        </div>*@
                    <div class="col-md-12 col-lg-12 commonPadding">
                        <table class="table customerAll">
                            <thead>
                                <tr class="gridheader">
                                    <th>Product Master</th>
                                    <th>Vendor</th>
                                    <th>Brand</th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                    <th>Size</th>
                                    @*<th>Item Price</th>*@
                                    @*<th>Delete</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PurchaseRequestDetails.Count() == 0)
                                {
                                    <tr class="col-md-12 col-lg-12 gridrow">
                                        <td>No Data Found</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var det in Model.PurchaseRequestDetails)
                                    {

                                        <tr class="gridrow">
                                            <td class="gridrow">@det.ItemMaster.Brand.Vendor.ProductMaster.ProductName</td>
                                            <td class="gridrow">@det.ItemMaster.Brand.Vendor.VendorName</td>
                                            <td class="gridrow">@det.ItemMaster.Brand.BrandName</td>
                                            <td class="gridrow">@det.ItemMaster.ItemName</td>
                                            <td class="gridrow">@det.Quantity</td>
                                            <td class="gridrow">@det.Size</td>
                                            @*<td class="gridrow">@det.ItemMaster.RetailPrice</td>*@
                                            @*<td class="gridrow "><img src="~/Content/delete.png" alt="Delete" class="ProductEnquiryItemDelete pointer" data-url="@Url.Action("DeleteItem", "ProductEnquiry")" data-identity="@(det.Identity)" /></td>*@


                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    @*<div class="col-md-12 col-lg-12 commonPadding textright" style="font-size:12px; color:black;font-weight:bold">
                            <div style="padding-right:15px">Total Cost : @Model.TotalCost</div>
                        </div>*@
                </div>

            </div>

        </div>
    </div>
    <div class="row col-md-12 col-lg-12 commonPadding"></div>
    <div class="row col-md-12 col-lg-12 commonPadding">
        <div class="col-md-6 col-lg-6">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section5" aria-controls="home" role="tab" data-toggle="tab">Stock In Item Damaged Details</a></li>

                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane active" id="Section5">
                        <div class="row commonPadding col-md-12 col-lg-12 StockInDamagedDetails" style="padding-bottom:13px;">
                            @{Html.RenderAction("_StockInDamaged", "StockIn");}
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="row col-md-12 col-lg-12 commonPadding"></div>
    <div class="row col-md-12 col-lg-12 commonPadding">
        <div class="col-md-12 col-lg-12">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Sectionexcess" aria-controls="home" role="tab" data-toggle="tab">Stock In Item Excess Details</a></li>

                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane active" id="Sectionexcess">
                        <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">
                            @{Html.RenderAction("_StockInExcess", "StockIn");}
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="row col-md-12 col-lg-12 commonPadding"></div>

    <div class="row col-md-12 col-lg-12 commonPadding"></div>
    <div class="row col-md-12 col-lg-12 commonPadding">
        <div class="col-md-6 col-lg-6">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section6" aria-controls="home" role="tab" data-toggle="tab">Stock In Item Shortage Details</a></li>

                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane active" id="Section6">
                        <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">
                            @{Html.RenderAction("_StockInShortage", "StockIn");}
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="row col-md-12 col-lg-12 commonPadding"></div>

    <div class="row col-md-12 col-lg-12 commonPadding"></div>
    <div class="row col-md-12 col-lg-12">
        <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div><label>Location:</label></div></div>
        <div class="float-right col-md-8 col-lg-8">
            @Html.DropDownList("drpPurchaseOrderLocation", (IEnumerable<SelectListItem>)Model.LocationList, "Select Location", new { @class = "dropdownstyles", name = "drpPurchaseOrderLocation" })

            <input type="hidden" name="hdnPurchaseOrderLocation" id="hdnPurchaseOrderLocation" />
        </div>

    </div>
    <div class="row col-md-12 col-lg-12" style="height:7px">
    </div>
    <div class="row col-md-12 col-lg-12">
        <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div><label>Employee:</label></div></div>
        <div class="float-right col-md-8 col-lg-8">
            @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
            @Html.DropDownList("drpStockInEmployee", (IEnumerable<SelectListItem>)Model.EmployeeList, "Select Warehouse Supervisor", new { @class = "dropdownstyles", name = "drpStockInEmployee" })
            @*<span class="input-validation-error" data-valmsg-for="LocationName" data-valmsg-replace="true"></span>*@
            <input type="hidden" name="hdnStockInEmployee" id="hdnStockInEmployee" />

        </div>

    </div>
    <div class="row col-md-12 col-lg-12" style="height:7px">
    </div>
    <div class="row col-md-12 col-lg-12 commonPadding">
        <div class="col-md-5 col-lg-5 textright">
            <input type="button" data-url="@Url.Action("Update", "StockIn")" class="formbutton StockInAddEdit" data-identity="@(Model.Identity)" value="Update/Add" />
        </div>

        <div class="col-md-6 col-lg-6">
            <input type="button" value="Cancel" data-url="@Url.Action("_StockInCancel", "StockIn")" data-identity="-1" class="formbutton PurchaseOrderCancel" />
        </div>
        <input type="hidden" name="Identity" id="Identity" value="@(Model.Identity)">

    </div>

</div>

        }
