@model ERP.Models.LocalSupplier

@using (Html.BeginForm("Update", "LocalSupplier", FormMethod.Post, new { @id = "registerFormId" }))
{

    <div class="container LocalSupplierDetails col-md-12 col-lg-12 commonPadding">
        <div class="row  col-md-12 col-lg-12ccommonPadding">
            @*@{
                    var categories = Model.ErrorList; // Cast the list
                }

                @if(Model.ErrorList != null && Model.ErrorList.Count > 0)
                {
                @foreach (var c in @categories) // Print the list
                {
                    @Html.Label(categories.ToString());
                }
                }*@

            &nbsp;
        </div>
        <div class="row  col-md-12 col-lg-12">



            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div style="padding-top:14px;"><label>Supplier Name :</label></div></div>
                <div class="float-right col-md-8 col-lg-8">
                    <input class="textareastyles" style="width:300px;height:35px;" type="text" name="SupplierName" value="@(Model.SupplierName)" placeholder="Enter Local Supplier Name" />
                    @*<span class="input-validation-error" data-valmsg-for="LocalSupplierName" data-valmsg-replace="true"></span>*@

                </div>

            </div>

            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div style="padding-top:14px;"><label>Contact Number :</label></div></div>
                <div class="float-right col-md-8 col-lg-8">
                    <input class="textareastyles" style="width:300px;height:35px;" type="text" name="ContactNumber" value="@(Model.ContactNumber)" placeholder="Enter supplier contact number" />
                    @*<span class="input-validation-error" data-valmsg-for="LocalSupplierName" data-valmsg-replace="true"></span>*@

                </div>

            </div>
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div style="padding-top:14px;"><label>Email :</label></div></div>
                <div class="float-right col-md-8 col-lg-8">
                    <input class="textareastyles" style="width:300px;height:35px;" type="text" name="Email" value="@(Model.Email)" placeholder="Enter Email address" />
                    @*<span class="input-validation-error" data-valmsg-for="LocalSupplierName" data-valmsg-replace="true"></span>*@

                </div>

            </div>

            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 lablestyles textright height-13"><div style="padding-top:14px;"><label>Address :</label></div></div>
                <div class="float-right col-md-8 col-lg-8">
                    <textarea name="Address" rows="6" cols="30" class="textareastyles" placeholder="Enter Supplier Address">@(Model.Address)</textarea>

                </div>

            </div>


            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>Region :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpLocalSupplierRegion", (IEnumerable<SelectListItem>)Model.RegionList, "Select Region", new { @class = "dropdownstyles", name = "drpLocalSupplierRegion" })
                    @*<span class="input-validation-error" data-valmsg-for="CompanyName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnRegion" id="hdnRegion" />
                </div>

            </div>
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>Country :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpLocalSupplierCountry", (IEnumerable<SelectListItem>)Model.CountryList, "Select Country", new { @class = "dropdownstyles", name = "drpLocalSupplierCountry" })
                    @*<span class="input-validation-error" data-valmsg-for="CompanyName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnCountry" id="hdnCountry" />
                </div>

            </div>

            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>State :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpLocalSupplierState", (IEnumerable<SelectListItem>)Model.StateList, "Select State", new { @class = "dropdownstyles", name = "drpLocalSupplierState" })
                    @*<span class="input-validation-error" data-valmsg-for="CompanyName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnState" id="hdnState" />
                </div>

            </div>

            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>District :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpLocalSupplierdistrict", (IEnumerable<SelectListItem>)Model.DistrictList, "Select District", new { @class = "dropdownstyles", name = "drpLocalSupplierdistrict" })
                    @*<span class="input-validation-error" data-valmsg-for="CompanyName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnDistrict" id="hdnDistrict" />
                </div>

            </div>

            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>Location :</label></div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpComplocation", (IEnumerable<SelectListItem>)Model.LocationList, "Select location", new { @class = "dropdownstyles", name = "drpComplocation" })
                    @*<span class="input-validation-error" data-valmsg-for="CompanyName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnLocation" id="hdnLocation" value="@Model.LocationID" />
                </div>

            </div>

            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-4 lablestyles textright height-13"><div><label>Select Item :</label> </div></div>
                <div class="float-right col-md-7 col-lg-8">
                    @* @Html.DropDownList("Mobiledropdown1", Model.RegionList)*@
                    @Html.DropDownList("drpLocalSupplierItemMaster", (IEnumerable<SelectListItem>)Model.ItemList, "Select Item", new { @class = "dropdownstyles", name = "drpLocalSupplierItemMaster" })
                    @*<span class="input-validation-error" data-valmsg-for="TaxName" data-valmsg-replace="true"></span>*@
                    <input type="hidden" name="hdnItemMaster" id="hdnItemMaster" value="@Model.ItemID" />
                </div>


            </div>


        </div>

        <div class="row col-md-12 col-lg-12 commonPadding">
            <div class="col-md-6 col-lg-6"><input type="button" data-url="@Url.Action("Update", "LocalSupplier")" class="formbutton float-right LocalSupplierAddEdit" data-identity="@(Model.Identity)" value="Update/Add" /></div>
            <div class="col-md-6 col-lg-6">
                <input type="button" value="Cancel" data-url="@Url.Action("_LocalSupplierCancel", "LocalSupplier")" data-identity="-1" class="formbutton LocalSupplierCancel" />
            </div>
            
            <input type="hidden" name="Identity" value="@(Model.Identity)">
        </div>



    </div>
}















