@model ERP.Models.Employee


<div class="container EmployeeView col-md-12 col-lg-12 commonPadding">
    <input type="hidden" value="@Model.Identity">
    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Employee Name :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.EmployeeName
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 ">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Employee Company ID :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.StaffCode
                </div>
            </div>
        </div>

    </div>
    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">

        <div class="col-md-6 col-lg-6 textright">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Personal Contact Number :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.PersonalContactNo
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 textleft">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Official Contact Number :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.OfficialContactNo
                </div>
            </div>
        </div>
    </div>
    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Alternate Contact Number
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.AlternateContactNo
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Official EmaiID :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.OfficialEmail
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12 col-lg-12 commonPadding" style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Personal Email :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.PersonalEmail
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Address :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.Address
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12 col-lg-12 commonPadding" style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Qualification :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.Qualification
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Identification Mode :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.IdentificationName
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12 col-lg-12 commonPadding" style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Identification ID :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.IdentificationValue
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Role :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.RoleName
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12 col-lg-12 commonPadding" style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Location :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.LocationName
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Company :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.CompanyName
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12 col-lg-12 commonPadding" style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Company Type :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    @Model.TypeName
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Manager Name :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12 col-lg-12 commonPadding" style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Photo:
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                </div>
            </div>
        </div>

        
    </div>

    <div class="row commonPadding">
        <div class="col-md-6 col-lg-5"><input type="button" class="formbutton float-right EmployeeEdit" data-url="@Url.Action("_EmployeeEdit", "Employee")" data-identity="@(Model.Identity)" value="Update" /></div>
        <div class="col-md-6 col-lg-6"><input type="button" class="formbutton float-left EmployeeDelete" data-url="@Url.Action("Delete", "Employee")" data-identity="@(Model.Identity)" value="Delete" /></div>

    </div>
</div>